<div id="main">
  <div class="container">
    <div class="container title-container">
      <script src="js/script.js"></script>
      <h1 class="ml1">
        <span class="text-wrapper">
          <span class="line line1"></span>
          <span class="letter" id="beast-title-text">Beast Mode!</span>
          <span class="line line2"></span>
        </span>
      </h1>
    </div>
    <p class="text-white"><span class="beast-text-white">Beast</span> Mode! is designed for your everyday workout needs.
      During this time of quarantine, we must all do our part to stay <span class="beast-text-white">Beasted</span>.
    </p>
  </div>

  <br>
  <div class="container">

    <h2 class="beast-team text-center text-white">Beast Team</h2>
  </div>
  <br>
  <div class="flex-group-name-container container">

    <div class="group-name-container">
      <h4>Abir</h4>
      <div class="team-image-container abir-image-container"></div>
    </div>
    <div class="group-name-container">
      <h4>Austin</h4>
      <div class="team-image-container austin-image-container"></div>
    </div>
    <div class="group-name-container">
      <h4>Brus</h4>
      <div class="team-image-container brus-image-container"></div>
    </div>
    <div class="group-name-container">
      <h4>Jervis</h4>
      <div class="team-image-container jervis-image-container"></div>
    </div>
    <div class="group-name-container">
      <h4>Mustapha</h4>
      <div class="team-image-container muss-image-container"></div>
    </div>

    <div class="group-name-container">
      <h4>Marshawn</h4>
      <div class="team-image-container marshawn-image-container"></div>
    </div>
  </div>

</div>