<div class="container">
<h1 class="beast-text" style="text-align: center;">Coming Soon</h1>
<img src="https://media.giphy.com/media/gXfsmtl2WYIBq/giphy.gif" style="height: 750px; width: 750px; border-radius: 25px; margin: auto; display: flex">
</div>